networks:
  app:
    name: app-bot-network
    driver: bridge
    ipam:
      config:
        - subnet: 172.24.24.0/24

services:
  nest-js:
    container_name: bot_app_server
    build:
      context: ./app-server
      dockerfile: ../dockerfiles/app-server.dockerfile
      args:
        DOCKER_NODE_VERSION: 24.13.0
    depends_on:
      - database
    volumes:
      - ./app-server:/app
    command: sh -c "npm install && npm run start:dev"
    environment:
      - CHOKIDAR_USEPOLLING=true
    ports:
      - ${EXTERNAL_NEST_PORT}:${INTERNAL_NEST_PORT}
    networks:
      - app

  client-constructor:
    container_name: bot_client_constructor
    build:
      context: ./app-client-constructor
      dockerfile: ../dockerfiles/app-client-constructor.dockerfile
      args:
        DOCKER_NODE_VERSION: 24.13.0
    depends_on:
      - nest-js
    volumes:
      - ./app-client-constructor:/app
    command: sh -c "npm install && npm run dev"
    ports:
      - ${EXTERNAL_CLIENT_CONSTRUCTOR_PORT}:${INTERNAL_CLIENT_CONSTRUCTOR_PORT}
    tty: true
    networks:
      - app

  client-chat:
    container_name: bot_client_chat
    build:
      context: ./app-client-chat
      dockerfile: ../dockerfiles/app-client-chat.dockerfile
      args:
        DOCKER_NODE_VERSION: 24.13.0
    depends_on:
      - nest-js
    volumes:
      - ./app-client-chat:/app
    command: sh -c "npm install && npm run dev"
    ports:
      - ${EXTERNAL_CLIENT_CHAT_PORT}:${INTERNAL_CLIENT_CHAT_PORT}
    tty: true
    networks:
      - app

  client-widget:
    container_name: bot_client_widget
    build:
      context: ./app-client-widget
      dockerfile: ../dockerfiles/app-client-widget.dockerfile
      args:
        DOCKER_NODE_VERSION: 24.13.0
    volumes:
      - ./app-client-widget:/app
    command: sh -c "npm install && npm run dev"
    ports:
      - ${EXTERNAL_CLIENT_WIDGET_PORT}:${INTERNAL_CLIENT_WIDGET_PORT}
    tty: true
    networks:
      - app

  database:
    image: mysql:latest
    container_name: bot_app_database
    restart: always
    volumes:
      - ./app_database/data:/var/lib/mysql
      - ./app_database/conf.d:/etc/mysql/conf.d
      - ./app_database/logs:/var/log/mysql/
      - ./app_database/dump:/dump
    ports:
      - ${EXTERNAL_DATABASE_PORT}:${INTERNAL_DATABASE_PORT}
    environment:
      MYSQL_DATABASE: ${DATABASE}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
    networks:
      - app

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: bot_app_pma
    restart: always
    environment:
      PMA_HOST: database
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - ${EXTERNAL_PMA_PORT}:${INTERNAL_PMA_PORT}
    depends_on:
      - database
    links:
      - database
    networks:
      - app





